Repository Naval-Base/yuudachi, pull requests merged in 2020-09, with the labels that each got.

#763 feat(api): Make JWTs issued per user not per connection
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarnrc.yml
  docker-compose.local.yml
  hasura/migrations/1586479065565_next/up.sql
  jest.config.js
  package.json
  packages/rest/package.json
  src/api/bin/index.ts
  src/api/package.json
  src/api/src/Config.ts
  src/api/src/Route.ts
  src/api/src/app.ts
  src/api/src/managers/AuthManager.test.ts
  src/api/src/managers/AuthManager.ts
  src/api/src/managers/CaseLogManager.test.ts
  src/api/src/middleware/authenticate.test.ts
  src/api/src/middleware/authenticate.ts
  src/api/src/middleware/session.ts
  src/api/src/routes/auth/discord/callback/get.ts
  src/api/src/routes/auth/discord/get.ts
  src/api/src/routes/auth/refresh/get.ts
  src/api/src/routes/users/me/get.ts
  src/api/src/tokens.ts
  src/api/src/util.ts
  src/api/src/util/auth.test.ts
  src/api/src/util/auth.ts
  src/api/src/util/index.test.ts
  src/api/src/util/index.ts
  src/handler/package.json
  src/website/package.json
  yarn.lock
Labels: api, refactor, semver:major

#768 feat(handler): embed utils
  src/handler/Constants.ts
  src/handler/util/index.test.ts
  src/handler/util/index.ts
Labels: handler, semver:minor

#769 fix(rest,handler): update rest to allow latest proxy
  docker-compose.local.yml
  docker-compose.yml
  package.json
  packages/rest/package.json
  packages/rest/src/Rest.test.ts
  packages/rest/src/Rest.ts
  src/api/package.json
  src/handler/bin/index.ts
  src/handler/package.json
  src/website/package.json
  yarn.lock
Labels: dependencies, handler, rest, semver:patch, tests

#770 feat(handler): allow all tags of a user to be deleted
  package.json
  src/api/public/locales/en/handler.json
  src/handler/src/commands/tags/tag.ts
Labels: handler, semver:minor

#771 build(docker): move sensitive configuration values into separate ignored file
  .gitignore
  docker-compose.config.example.yml
  docker-compose.local.yml
  docker-compose.prod.yml
  docker-compose.yml
  y.ps1
Labels: core, refactor, semver:major

#772 chore(*): code of conduct/contrib/commit conventions
  .github/CODE_OF_CONDUCT.md
  .github/COMMIT_CONVENTION.md
  .github/CONTRIBUTING.md
Labels: documentation

#776 ci(github): run tests on PR
  .github/workflows/node.yml
Labels: ci

#775 feat(handler): regex commands
  src/handler/bin/index.ts
  src/handler/src/Command.ts
Labels: handler, refactor, semver:minor

#774 fix(handler): proper handling of embed types in truncate
  src/handler/util/index.test.ts
  src/handler/util/index.ts
Labels: bug, regression, semver:patch

#777 feat(handler): allow optional match groups
  src/handler/bin/index.ts
Labels: handler, semver:minor
