Repository Naval-Base/yuudachi, pull requests merged in 2021-01, with the labels that each got.

#894 style(*): discord-api-types fun!
  packages/api/src/api/Guilds.ts
  src/api/src/managers/CaseLogManager.test.ts
  src/api/src/managers/CaseLogManager.ts
  src/api/src/managers/CaseManager.test.ts
  src/api/src/managers/CaseManager.ts
  src/api/src/managers/LockdownManager.test.ts
  src/api/src/managers/LockdownManager.ts
  src/api/src/routes/guilds/[guildId]/roles/get.ts
  src/api/src/routes/guilds/get.ts
  src/api/src/routes/guilds/oauth/get.ts
  src/auth/src/routes/auth/refresh/get.ts
  src/handler/bin/index.ts
  src/handler/src/Command.ts
  src/handler/src/commands/config/config.ts
  src/handler/src/commands/config/debug.ts
  src/handler/src/commands/config/sub/debug/refresh.ts
  src/handler/src/commands/documentation/docs.ts
  src/handler/src/commands/github/github.ts
  src/handler/src/commands/github/sub/alias.ts
  src/handler/src/commands/github/sub/commit.ts
  src/handler/src/commands/github/sub/issue-pr.ts
  src/handler/src/commands/moderation/ban.ts
  src/handler/src/commands/moderation/duration.ts
  src/handler/src/commands/moderation/history.ts
  src/handler/src/commands/moderation/kick.ts
  src/handler/src/commands/moderation/lockdown.ts
  src/handler/src/commands/moderation/reason.ts
  src/handler/src/commands/moderation/reference.ts
  src/handler/src/commands/moderation/restrict.ts
  src/handler/src/commands/moderation/softban.ts
  src/handler/src/commands/moderation/sub/lockdown/lift.ts
  src/handler/src/commands/moderation/sub/lockdown/lock.ts
  src/handler/src/commands/moderation/sub/restrict/embed.ts
  src/handler/src/commands/moderation/sub/restrict/emoji.ts
  src/handler/src/commands/moderation/sub/restrict/mute.ts
  src/handler/src/commands/moderation/sub/restrict/react.ts
  src/handler/src/commands/moderation/sub/restrict/tag.ts
  src/handler/src/commands/moderation/sub/restrict/unrole.ts
  src/handler/src/commands/moderation/unban.ts
  src/handler/src/commands/moderation/warn.ts
  src/handler/src/commands/tags/sub/search.ts
  src/handler/src/commands/tags/tag.ts
  src/handler/src/commands/util/ping.ts
  src/handler/src/parsers/interaction.ts
  src/handler/src/util/edit.test.ts
  src/handler/src/util/edit.ts
  src/handler/src/util/embed.ts
  src/handler/src/util/send.test.ts
  src/handler/src/util/send.ts
  src/website/src/components/GuildDisplay.tsx
  src/website/src/components/GuildIcon.tsx
  src/website/src/components/GuildSettingsFormSelectControl.tsx
  src/website/src/interfaces/Guild.ts
  src/website/src/interfaces/GuildRole.ts
Labels: api, backlog, handler, semver:patch, website

#916 feat(website,api,handler): form validation
  hasura/migrations/1586479065565_next/up.sql
  src/api/public/locales/en/handler.json
  src/api/src/managers/SettingsManager.ts
  src/api/src/routes/guilds/[guildId]/cases/post.ts
  src/handler/src/commands/config/debug.ts
  src/handler/src/commands/moderation/ban.ts
  src/handler/src/commands/moderation/duration.ts
  src/handler/src/commands/moderation/history.ts
  src/handler/src/commands/moderation/kick.ts
  src/handler/src/commands/moderation/lockdown.ts
  src/handler/src/commands/moderation/reason.ts
  src/handler/src/commands/moderation/reference.ts
  src/handler/src/commands/moderation/restrict.ts
  src/handler/src/commands/moderation/softban.ts
  src/handler/src/commands/moderation/sub/restrict/embed.ts
  src/handler/src/commands/moderation/sub/restrict/emoji.ts
  src/handler/src/commands/moderation/sub/restrict/mute.ts
  src/handler/src/commands/moderation/sub/restrict/react.ts
  src/handler/src/commands/moderation/sub/restrict/tag.ts
  src/handler/src/commands/moderation/sub/restrict/unrole.ts
  src/handler/src/commands/moderation/unban.ts
  src/handler/src/commands/moderation/warn.ts
  src/website/src/components/GuildCaseReference.tsx
  src/website/src/components/GuildSettings.tsx
  src/website/src/components/GuildSettingsFormControl.tsx
  src/website/src/components/Table.tsx
  src/website/src/components/modals/GuildCase.tsx
  src/website/src/components/modals/GuildTag.tsx
  src/website/src/hooks/useMutationInsertGuildSettings.ts
  src/website/src/hooks/useMutationUpdateGuildSettings.ts
  src/website/src/hooks/useQueryGuildSettings.ts
  src/website/src/interfaces/GuildCases.ts
  src/website/src/pages/guilds/[id]/index.tsx
Labels: api, handler, refactor, semver:minor, website

#919 feat(website,api): change the expiration of a timed action
  src/api/src/managers/CaseLogManager.ts
  src/website/package.json
  src/website/public/android-chrome-192x192.png
  src/website/public/android-chrome-512x512.png
  src/website/public/apple-touch-icon.png
  src/website/public/browserconfig.xml
  src/website/public/favicon-16x16.png
  src/website/public/favicon-32x32.png
  src/website/public/favicon.ico
  src/website/public/mstile-150x150.png
  src/website/public/safari-pinned-tab.svg
  src/website/public/site.webmanifest
  src/website/src/components/DatePicker.tsx
  src/website/src/components/GuildCase.tsx
  src/website/src/components/GuildCases.tsx
  src/website/src/components/GuildLayout.tsx
  src/website/src/components/GuildNavbar.tsx
  src/website/src/components/GuildSettings.tsx
  src/website/src/components/Table.tsx
  src/website/src/components/TableColumnSearch.tsx
  src/website/src/components/modals/GuildCase.tsx
  src/website/src/interfaces/GuildCases.ts
  src/website/src/interfaces/SearchQuery.ts
  src/website/src/pages/_app.tsx
  src/website/src/pages/_document.tsx
  src/website/src/styles/date-picker.scss
  src/website/src/styles/main.scss
Labels: api, semver:minor, website

#943 feat(website,api): Guild moderation settings
  package-lock.json
  package.json
  packages/api/src/api/Guilds.ts
  src/api/src/routes/guilds/[guildId]/channels/get.ts
  src/graphql/src/resolvers/index.ts
  src/graphql/src/resolvers/query/guild_channels.ts
  src/graphql/src/typeDefs.ts
  src/handler/package.json
  src/website/package.json
  src/website/src/components/GuildLayout.tsx
  src/website/src/components/GuildModerationSettings.tsx
  src/website/src/components/GuildModule.tsx
  src/website/src/components/GuildModules.tsx
  src/website/src/components/GuildSettings.tsx
  src/website/src/components/GuildSettingsFormSelectControl.tsx
  src/website/src/components/Guilds.tsx
  src/website/src/components/modals/GuildCase.tsx
  src/website/src/components/modals/GuildTag.tsx
  src/website/src/hooks/useMutationInsertGuildModerationSettings.ts
  src/website/src/hooks/useMutationUpdateGuildModerationSettings.ts
  src/website/src/hooks/useMutationUpdateGuildSettings.ts
  src/website/src/hooks/useQueryGuildChannels.ts
  src/website/src/hooks/useQueryGuildModerationSettings.ts
  src/website/src/interfaces/GuildChannel.ts
  src/website/src/pages/guilds/[id]/modules/moderation.tsx
Labels: api, semver:minor, website
