Repository Naval-Base/yuudachi, pull requests merged in 2022-09, with the labels that each got.

#1119 chore(scam_domains): Move the `X-Identity` info to its own ENV
  packages/yuudachi/src/functions/anti-scam/refreshScamDomains.ts
  packages/yuudachi/src/index.ts
  packages/yuudachi/src/websocket/WebSocketConnection.ts
Labels: semver:minor

#1120 perf(update): improve update functions to only use one db call
  packages/yuudachi/src/functions/cases/updateCase.ts
  packages/yuudachi/src/functions/reports/updateReport.ts
  packages/yuudachi/src/util/object.ts
Labels: semver:minor, performance

#1116 feat(commands): quick reasons
  packages/yuudachi/locales/en-US/translation.json
  packages/yuudachi/src/Constants.ts
  packages/yuudachi/src/events/interactionCreate.ts
  packages/yuudachi/src/functions/autocomplete/reasons.ts
  packages/yuudachi/src/interactions/moderation/anti-raid-nuke.ts
  packages/yuudachi/src/interactions/moderation/ban.ts
  packages/yuudachi/src/interactions/moderation/kick.ts
  packages/yuudachi/src/interactions/moderation/reason.ts
  packages/yuudachi/src/interactions/moderation/restrict.ts
  packages/yuudachi/src/interactions/moderation/softban.ts
  packages/yuudachi/src/interactions/moderation/timeout.ts
  packages/yuudachi/src/interactions/moderation/unban.ts
  packages/yuudachi/src/interactions/moderation/warn.ts
Labels: semver:minor

#1117 feat(memberlog): show created and joined timestamp
  packages/yuudachi/locales/en-US/translation.json
  packages/yuudachi/src/util/generateHistory.ts
  packages/yuudachi/src/util/generateMemberLog.ts
Labels: semver:minor

#1121 feat(reasons): consolidate and reorder based on use
  packages/yuudachi/locales/en-US/translation.json
Labels: semver:patch

#1124 fix(duration): Setting the regex key on timeout update
  packages/yuudachi/src/commands/moderation/duration.ts
Labels: semver:patch, packages:yuudachi

#1125 feat: report forums
  packages/yuudachi/locales/en-US/translation.json
  packages/yuudachi/migrations/1663584410-report-forums.js
  packages/yuudachi/package.json
  packages/yuudachi/src/Constants.ts
  packages/yuudachi/src/commands/moderation/sub/reference/report.ts
  packages/yuudachi/src/commands/moderation/sub/reports/status.ts
  packages/yuudachi/src/commands/utility/sub/report/message.ts
  packages/yuudachi/src/commands/utility/sub/report/user.ts
  packages/yuudachi/src/events/manual-ban/guildBanAdd.ts
  packages/yuudachi/src/events/manual-ban/guildBanRemove.ts
  packages/yuudachi/src/events/manual-kick/guildMemberRemove.ts
  packages/yuudachi/src/events/manual-report-status/threadUpdate.ts
  packages/yuudachi/src/events/manual-timeout/guildMemberUpdate.ts
  packages/yuudachi/src/functions/logging/formatMessagesToAttachment.ts
  packages/yuudachi/src/functions/logging/generateCaseLog.ts
  packages/yuudachi/src/functions/logging/generateReportEmbed.ts
  packages/yuudachi/src/functions/logging/generateReportLog.ts
  packages/yuudachi/src/functions/logging/upsertReportLog.ts
  packages/yuudachi/src/functions/reports/createReport.ts
  packages/yuudachi/src/functions/reports/transformReport.ts
  packages/yuudachi/src/functions/settings/checkLogChannel.ts
  packages/yuudachi/src/functions/settings/getGuildSetting.ts
  packages/yuudachi/src/util/arrays.ts
  packages/yuudachi/src/util/colors.ts
  packages/yuudachi/src/util/generateHistory.ts
  yarn.lock
Labels: semver:minor, packages:yuudachi

#1133 refactor(commands): implement native string validation
  packages/yuudachi/locales/en-US/translation.json
  packages/yuudachi/src/Constants.ts
  packages/yuudachi/src/commands/moderation/ban.ts
  packages/yuudachi/src/commands/moderation/kick.ts
  packages/yuudachi/src/commands/moderation/lockdown.ts
  packages/yuudachi/src/commands/moderation/reason.ts
  packages/yuudachi/src/commands/moderation/softban.ts
  packages/yuudachi/src/commands/moderation/sub/restrict/embed.ts
  packages/yuudachi/src/commands/moderation/sub/restrict/emoji.ts
  packages/yuudachi/src/commands/moderation/sub/restrict/react.ts
  packages/yuudachi/src/commands/moderation/timeout.ts
  packages/yuudachi/src/commands/moderation/unban.ts
  packages/yuudachi/src/commands/moderation/warn.ts
  packages/yuudachi/src/commands/utility/report.ts
  packages/yuudachi/src/interactions/moderation/anti-raid-nuke.ts
  packages/yuudachi/src/interactions/moderation/ban.ts
  packages/yuudachi/src/interactions/moderation/kick.ts
  packages/yuudachi/src/interactions/moderation/lockdown.ts
  packages/yuudachi/src/interactions/moderation/reason.ts
  packages/yuudachi/src/interactions/moderation/restrict.ts
  packages/yuudachi/src/interactions/moderation/softban.ts
  packages/yuudachi/src/interactions/moderation/timeout.ts
  packages/yuudachi/src/interactions/moderation/unban.ts
  packages/yuudachi/src/interactions/moderation/warn.ts
  packages/yuudachi/src/interactions/utility/report.ts
Labels: semver:minor, packages:yuudachi

#1132 feat(reports): minor fixes and improvements
  packages/yuudachi/locales/en-US/translation.json
  packages/yuudachi/src/Constants.ts
  packages/yuudachi/src/commands/utility/report.ts
  packages/yuudachi/src/commands/utility/sub/report/message.ts
  packages/yuudachi/src/commands/utility/sub/report/user.ts
  packages/yuudachi/src/functions/logging/upsertReportLog.ts
  packages/yuudachi/src/util/commandUtils.ts
  yarn.lock
Labels: semver:minor, packages:yuudachi

#1129 fix(totalMentions): Ignore mentions on codeBlocks
  packages/yuudachi/src/functions/anti-spam/totalMentions.ts
  packages/yuudachi/src/util/codeBlock.ts
Labels: semver:minor, packages:yuudachi
